DATABASE_URL=postgresql+asyncpg://airflow:airflow@booking-db:5432/peminjaman_kendaraan
REDIS_URL=redis://redis:6379/2
JWT_SECRET=ganti_dengan_secret_yang_kuat_min_32_karakter
JWT_ALGORITHM=HS256
USER_SERVICE_URL=http://user-service:8000
VEHICLE_SERVICE_URL=http://vehicle-service:8000
APPROVAL_LEVELS=2
